<div class="container">
    <div class="card login_card">
        <h1 class="header">Budget App - Log In</h1>
        <br>
        <form class="login_form">
            Username:
            <br>
            <input type="text">
            <br> Password:
            <br>
            <input type="text">
            <br>
            <br>
            <input class="loginBtn" type="submit" value="Enter">
            <div class="g-signin2" id="loginSign" data-onsuccess="onSignIn"></div>
            <a href="#" onclick="signOut();">Sign out</a>
        </form>
    </div>
</div>