<div class="container">
    <div class="card login_card">
        <h1 class="header">Budget App - Log In</h1>
        <br>
        <div class="card logCard">
            <div class="g-signin2" id="loginSign" data-onsuccess="onSignIn"></div>
            <a class="signOut" href="#" onclick="signOut();">Sign out</a>
        </div>
    </div>
</div>