<div class="newBox">
    <h3>New User</h3>
    User Name:
    <br>
    <input type="text" class="userName">
    <br> Initial Budget:
    <br>
    <input type="text" class="firstBudget">
    <br>
    <select class="budgetType">
        <option value="monthly">Monthly</option>
        <option value="weekly">Weekly</option>
    </select>
    <br>
    <button type="button" class="newSubmit">Submit</button>
</div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
            <a href="#" onclick="signOut();">Sign out</a>
