.container {
    max-width: 75%;
    margin: auto;
}

.login_card {
    background-color: #28D65C;
    width: 75%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    padding: 50px;
    position: relative;
    color: white;
    top: 15vh;
}

.logBox {
    float: right;
    position: relative;
    top: 72px;
    right: 20px;
}

.signOut {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    font-size: 14px;
    text-decoration: none;
}
.currentBalance {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: white;
    top: 175px;
    

}
h1 {
    text-align: center;
    margin: auto;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

body {
    font-family: "helvetica";
    background-color: white;
}

.bodywrap {
    width: 85%;
    margin: auto;
}

#indexSign {
    position: relative;
    float: left;
    top: 63px;
    left: 20px;
}

#loginSign {
    margin-bottom: 20px;
}

button {
    text-decoration: none;
}

.newSubmit {
    border-radius: 20px;
    border: none;
    padding: 9px 35px;
    background-color: #666666;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.newSubmit:hover {
    background-color: #777777;
    cursor: pointer;
}

.abcRioButton {
    border-radius: 20px;
    margin: auto;
    background-color: #666666;
    color: white;
    text-align: center;
}

.abcRioButton:hover {
    background-color: #777777;
    cursor: pointer;
}

a:link,
a:visited {
    background-color: #666666;
    color: white;
    padding: 9px 32px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #777777;
    cursor: pointer;
}

.headcontent {
    animation: fadeIn 0.8s;
}

.tablink {
    background-color: #666666;
    color: white;
    float: left;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    transition: background-color 0.8s;
}

.tablink:hover {
    background-color: #777777;
}

.tabcontent {
    padding: 50px;
    color: white;
    text-align: center;
    transition: background-color 2s;
}

.tabBody {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tabheader {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

input[type=text] {
    border: none;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 20px;
}

select {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 9px 10px;
}

select:hover {
    cursor: pointer;
}

.modalButton {
    border-radius: 20px;
    border: none;
    padding: 9px 20px;
    background-color: #666666;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.modalButton:hover {
    cursor: pointer;
    background-color: #777777;
}

.modContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}

.moditem {
    margin: auto;
}

.amount {
    width: 20%;
}

#drop {
    width: 10%;
}

.description {
    width: 20%;
}

.switch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 15%;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

.switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.switch-inner:before,
.switch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 1vw;
    color: white;
    font-family: "Helvetica";
    font-weight: bold;
    box-sizing: border-box;
}

.switch-inner:before {
    content: " Deposit";
    padding-left: 10px;
    background-color: #34C247;
    color: #FFFFFF;
}

.switch-inner:after {
    content: "Expense ";
    padding-right: 10px;
    background-color: #F51B47;
    color: #FFFFFF;
    text-align: right;
}

.switch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8vw;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.switch-checkbox:checked+.switch-label .switch-inner {
    margin-left: 0;
}

.switch-checkbox:checked+.switch-label .switch-switch {
    right: 0px;
}

.modalSubmit {
    border-radius: 20px;
    border: none;
    padding: 9px 20px;
    background-color: #666666;
    color: white;
    width: 10%;
    font-size: 1vw;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.modalSubmit:hover {
    background-color: #777777;
    cursor: pointer;
}

.closeModal {
    color: white;
    font-size: 24px;
    float: right;
}

.closeModal:hover {
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.8s;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.modalContent {
    background-color: black;
    margin: 15% auto;
    padding: 25px;
    border: 1px solid #555555;
    width: 75%;
    display: inline-flex;
    position: relative;
    left: 15%;
    justify-content: center;
    border-radius: 15px;
}

th,
td {
    width: 25%
}

.transTable {
    width: 100%;
    margin-bottom: 20px;
}

.newWrapper {
    width: 75%;
    margin: auto;
}

.newBox {
    background-color: #0D6BFF;
    width: 75%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    padding: 50px;
    margin-top: 15%;
    color: white;
    line-height: 40px;
    animation: fadeIn 0.8s;
    border-radius: 15px;
}

.newBox * {
    margin-bottom: 15px;
}

.newCard {
    background-color: #28D65C;
}

.card {
    width: 75%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    padding: 50px;
    margin-top: 5%;
    margin-bottom: 2%;
    animation: fadeIn 0.8s;
    border-radius: 15px;
}

.dashboardCard {
    background-color: #28D65C;
}

.spendingCard {
    background-color: #0D6BFF;
}

.logCard {
    background-color: #0D6BFF;
}

svg {
    width: 90%;
    margin: auto;
}

#newSign {
    position: relative;
    top: 25px;
    left: 150px;
    float: left;
}

#newOut {
    position: relative;
    top: 32px;
    float:right;
    right: 150px;
}

.transTable {
    border: 1px solid white;
    background-color: rgb(37, 216, 126);

}
.transTable * {
    border: 1px solid white;

}
.transTable th {
    text-decoration: underline;
    background-color: #777777;
}